* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #0f1024;  /*kandinsky*/

}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 2%;
}

section {
  padding-top: 2%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a98e3;

  height: 100vh;
  width: 100vw;
  text-align: center;
  max-width: 100%; 
  
}

.hero h1 {
  font-size: 5em;
}

.hero p {
  font-size: 2em;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #dac1bf;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-right: 40px;
}

.nav-item {
  margin: auto;
  text-align: center;
  padding: 1em 0;
}


.about {
  text-align: center;
  font-size: 1.25em;
  background-color: #e9dcd3;
  
}

.about-inner {
  width: 75%;
  margin: 0 auto;
}
  

.projects {
  text-align: center;
  font-size: 1.25em;
  background-color: #e9dcd3;
 
}

.contact {
  text-align: center;
  background-color: #dac1bf
 
}

.projectss {
  width: auto;
  height: auto;
  width: 75%;
  max-width: 1000px;

}

.project {
  padding: 5%;
}

.hero-link {
  text-decoration: none;
  font-size: 20px;
}

.contact p {
  padding: 1%;
}